#set( $title = "Login")
#parse("views/header.vm")
  <div class="container text-center">
    <h1>Login</h1>
    <div class="text-left">
      <form method="post">
        <div class="form-group">
          <label for="user_id">ID</label>
          <input type="text" id="user_id" class="form-control">
        </div>
        <input type="submit" value="ログイン" class="btn btn-primary">
      </form>
    </div>
  </div>
#parse("views/footer.vm")
