#set( $title = "状態")
#parse("views/header.vm")
  <div class="container text-center">
    <h1><a href="/">MyStat</a> 状態</h1>
    <div class="card text-left">
      <div class="card-body">
        <div class="card-title">
        <img src="$status.user.iconUrl"
             class="rounded flote-left" style="width: 64px; height: 64px;">
        <a href="/user/$status.user.userHandle" class="font-weight-bold">$status.user.userName</a></div>
        <p class="card-text">$status.status.text</p>
        <p class="card-subtitle text-muted">$status.status.createdAt</p>
      </div>
    </div>
  </div>
#parse("views/footer.vm")

