#set( $title = "ログ")
#parse("views/header.vm")
  <div class="container text-center">
    <h1><a href="/">MyStat</a> ログ</h1>
    <ul class="list-group text-left">
      #foreach ($s in $statuses)
      <li class="list-group-item">
        <img src="$s.user.iconUrl"
             class="rounded float-left mr-2" style="width: 48px; height: 48px;">
        <div>
          <a href="/user/$s.userHandle" class="font-weight-bold">$s.userName</a>
          <a href="/stat/$s.status.id" class="text-muted">$s.status.createdAt</a>
        </div>
        <div>
          $s.status.text
        </div>
      </li>
      #end
    </ul>
  </div>
#parse("views/footer.vm")
